{% extends 'ATMBoardBundle:Board:base.html.twig' %}

{% block atm_flash_messages %}
    {% if app.session.flashBag.has('atm_board_not_exist') %}
        {% for msg in app.session.flashBag.get('atm_board_not_exist') %}
            <h2 class="page_title white"> {{ msg }}</h2>
        {% endfor %}
    {% endif %}
{% endblock atm_flash_messages %}

{% block atm_board_content %}
    <div class="wide board_users">
        <h1 style="float: none;width: 100%;margin-bottom:20px;font-size: 20px;text-decoration: underline;text-align: center;font-weight: bold">New Board</h1>
        <form action="{{ path('atm_board_create') }}" method="post" enctype="multipart/form-data" id="frmNewBoard">
            <fieldset class="half">
                {{ form_widget(form.name) }}
                {{ form_widget(form.description) }}
                <fieldset style="margin: 20px;">
                    <legend style="float:left">Visibility: </legend>
                    <div class="selectC" style="float: left;margin-left: 10px">
                        {{ form_widget(form.visibility) }}
                    </div>
                </fieldset>
                {{ form_widget(form.price) }}
                {{ form_rest(form) }}
            </fieldset>
            <fieldset class="half">
                <img src="{{ asset('bundles/atmboard/images/image-placeholder.png') }}" id="imgPreview" style="float:none;max-width: 100%">
                <input type="file" name="flImage" id="flImage" required>
            </fieldset>
            <p id="imageError" style="display:none;color:#ff0012;width: 100%;text-align: center;margin: 0;padding: 0;">Only jpg and jpeg images are allowed.</p>
            <input type="submit" id="btnSubmit" style="display: none">
            <a class="but blue" style="float: none" onclick="$('#btnSubmit').click()">Save</a>
        </form>
    </div>
{% endblock atm_board_content %}

{% block atm_board_javascripts %}
    <script>
        $('#flImage').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];
            var ext = $('#flImage').val().split('.').pop().toLowerCase();

            if($.inArray(ext, ['jpg','jpeg']) == -1){
                $('#imageError').fadeIn(500,function(){
                    $(this).delay(5000).fadeOut(1000);
                })
            }else{
                var reader = new FileReader();
                reader.onload = function(e){
                    $('#imgPreview').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            }
        });

        $('#board_visibility').change(function(){
            if($(this).val() == 2){
                $('#board_price').prop('required',true);
            }else{
                $('#board_price').prop('required',false).val(0);
            }
        });

        $('#frmNewBoard').submit(function(){
            $('#atm_board_loader').show();
        });
    </script>
{% endblock atm_board_javascripts %}