{% extends 'ATMBoardBundle:Board:base.html.twig' %}

{% block atm_board_content %}
    <div class="half board">
        <div class="content posts">
            <a href="{{ path('atm_board_request_access',{ 'boardId':boardId,'userId':userId }) }}">Request Access</a>
        </div>
    </div>
{% endblock atm_board_content %}