{% extends 'ATMBoardBundle:Board:base.html.twig' %}


{% block atm_board_content %}
    <div class="wide board_users">
        <div class="controls">
            <p id="txError" style="display:none;width: 100%;text-align: center;">No user found</p>
            <input type="text" id="txUsername" placeholder="Write a username">
            <a class="but blue" id="btnSearch">Search</a>
        </div>
        <table id="tbUsers">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Board
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                    <tr>
                        <td>
                            {{ board.user.username }}
                        </td>
                        <td>
                            <a href="{{ path('atm_board_timeline',{ 'usernameCanonical':board.user.usernameCanonical }) }}" target="_blank"><i class="fa fa-calendar-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination is not null %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="clear"></div>
        {% endif %}
    </div>
{% endblock atm_board_content %}

{% block atm_board_javascripts %}
    <script>
        $('#btnSearch').click(function(){
            var username = $('#txUsername').val();

            $.ajax({
                url: Routing.generate('atm_board_admin_search_users',{ 'username': username }),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    if(data != 'ko'){
                        $('#tbUsers tbody').html(data);
                    }else{
                        $('#txError').show().delay(5000).fadeOut(500);
                    }
                }
            })
        });
    </script>
{% endblock atm_board_javascripts %}