
@font-face {
  font-family: 'LeagueSpartan';
  src: url('/bundles/atmboard/fonts/LeagueSpartan/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('/bundles/atmboard/fonts/LeagueSpartan/LeagueSpartan-Bold.otf')  format('opentype'),
	     url('/bundles/atmboard/fonts/LeagueSpartan/LeagueSpartan-Bold.woff') format('woff'),
         url('/bundles/atmboard/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf')  format('truetype'),
        url('/bundles/atmboard/fonts/LeagueSpartan/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
